/*copiar esto en todos lados*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: #0000;  
  }
  
  :root{
    --verde:#60a62e;
    --verdeoscuro:#457c1e;
    --verdeclaro: #90d576;
    --compost: #cbb26f;
    --ecomagenta:#e30661;
    --ecomagentaoscuro:#b91459;
  }
  
  .consultas{
    display:flex;
    position: fixed;
    justify-content: center;
    bottom: 3%;
    right: 2%;
    z-index: 1000000;
  }
  .consultas a img{
  width:5em;
  transition: transform 0.3s ease-in-out ;
  }
  
  .consultas a img:hover{
  transform: translateY(-15%);
  
  }
  .up a{
    text-decoration: none;
    background: #e30661;
    padding:1em 1.5em;
    text-align: center;
    color:#fff;
    font-size:12pt;
    border-radius: 0.4em;
    box-shadow: -5px 5px 40px 0px #0002;
  }
  .up a:hover{
    background: #c70757;
  }
  
  .up{
  display:flex;
  position: fixed;
  justify-content: center;
  bottom: 3%;
  left: 2%;
  z-index: 1000000;
  opacity:0;
  transform: translateY(10%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  .up a{
  text-decoration: none;
  background: #e1e0e6;
  padding:.5em 1em;
  text-align: center;
  color:#000;
  font-size:16pt;
  border-radius: 0.4em;
  }
  .up a:hover{
  background: #ceced4;
  }
  
  body{
    font-family: 'inter', sans-serif;
  }
  body p{
    text-align:justify;
  }
  @media screen and (max-width: 550px){
    body p{
        text-align: initial;
    }
  }
  
  
  
  
  /*nav*/
  
  nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:5em;
    border-bottom: 0.3px solid #0001;
    margin: 0 0;
    padding: 0 2%;
    width: 100%;
    margin-bottom: 2em;
    background-color: #fffd;
    backdrop-filter: blur(10px);
    z-index: 70000;
    transition: 0.4s;
  }
  .logo{
    margin-top: 0.3em;
    padding: .5em;
    width: 9em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
  }
  .logonombre{
    width:8.5em;
    margin-bottom: 0.2em;
  
  }
  .loguitos{
    width:1.5em;
    margin:0 0.5em;
    animation: verdes 1.7s ease-in-out infinite;
  }
  @keyframes verdes{
    0%{
      -webkit-transform: rotate(0deg);
    }
    100%{
      -webkit-transform: rotate(360deg);
    }
  }


  .nav-links{
    display:flex;
    justify-content: space-evenly;
    width:50em;
    list-style: none;
    margin-left:1em; /*cambio*/
    align-items: center; /*cambio*/
    text-align: center;
}
.nav-links li{
  padding:0.5em 0.5em;
}
.nav-links a, .nav-links p{
    color:#222;
    text-decoration: none;
    font-weight: 400;
    border-radius:0.5em;
    /*padding:0.5em 0.5em;*/
    margin-left:0.3em;
    text-align: center;

}
li .activelink{
    font-weight: 600;
}
.nav-links a:hover{
    font-weight: 600;
}

  .burger{
    display:none;
    cursor: pointer;
  }
  .burger div{
    width:27px;
    height:3px;
    background: #444;
    margin: 4px;
    border-radius: 0.5em;
  }
  .lin1,
  .lin2,
  .lin3{
  transition: transform 1s 0.1s ease-in-out, opacity 1s 0.1s ease-in-out;
  }
  @media screen and (max-width: 850px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right:0px;
        height:80vh;
        top:6em;
        background-color: #eeedf2;
        flex-direction: column;
        align-items: center;
        margin:auto;
        width:50%;
        transform: translateY(-140%);
        transition: transform 0.5s ease;
        border-radius: 2.5em;
        z-index: 1000000000000000000000;
        margin-right:2.5%;
        box-shadow: -5px 5px 40px 0px #0001;
    }
  
  
    .burger{
        display:block;
    }
  
  }
  .nav-active{
    transform: translateY(0%);
  }
    .lin1-act{
      transform: rotate(45deg) translateY(350%);
    }
    .lin3-act{
      transform: rotate(-45deg) translateY(-340%)
    }
    .lin2-act{
      opacity:0;
    }
  
  .contenido{
    padding-top:7em;
    font-family: 'inter', sans-serif;
  }
  
  
  
  /*TITULO*/
  .titulonovedades{
    width: 90%;
    margin: 0em 5%;
    font-size:25pt;
    color: #313131;
    font-weight: 700;
    text-align:center;
    margin-bottom: 1em;
    line-height: 46px;
  }
  .titulonovedades2{
    width: 90%;
    margin: 0em 5%;
    font-size:20pt;
    color: #313131;
    font-weight: 600;
    text-align:center;
    line-height: 46px;
  }


  footer{
    background: #eeedf2;
  
  }
  
  #tituloredes{
    padding-top:1em;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16pt;
  }
  
  .gridderedes{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:1em;
    margin-bottom: 2em;
   /* opacity:0;
    transform: translateY(10%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;*/
  }
  
  
  
  .redeslink img{
    width:4em;
    transition: transform 0.3s ease-in-out ;
    margin:0 2em;
    border-radius: 50%;
  }
  .redeslink img:hover{
    transform: translateY(-15%);
  }
  
  
  .derechos{
      font-weight: 300;
      background-color: #d0ceda;
      font-size: 10pt;
      text-align: center;
      padding: 1em;
  }
  
  
  /* ADAPTAR REDES */
  @media screen and (max-width:650px){
    .gridderedes{
        flex-wrap: wrap;
      }
      .redeslink img{
        margin-bottom: 0.5em;
        width: 3.5em;
      }
  
  }



  /*MOSTRAR*/
.mostrar{
    opacity: 100%;
    display: block;
  }