*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: #0000;  
}

:root{
    --verde:#60a62e;
    --verdeoscuro:#457c1e;
    --verdeclaro: #90d576;
    --compost: #cbb26f;
    --ecomagenta:#e30661;
    --swiper-theme-color: #fff !important;

}

body{
    font-family: 'Raleway', sans-serif;
}
body p{
  text-align:justify;
}
@media screen and (max-width: 600px){
  body p{
      text-align: initial;
  }
}
/*logo*/

.logoecolink{
    display: flex;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.logoecolink:hover{
    transform: translateY(-10%);
    
}

.logo{
    margin-left:0.5em;
    padding: 0.5em;
    width: 8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   filter: brightness(100%);
  }
  .logonombre{
    width:7em;
    margin-bottom: 0.2em;
  
  }
  .loguitos{
    width:1.235em;
    margin:0 0.5em;
    animation: verdes 1.7s ease-in-out infinite;
  }
  @keyframes verdes{
    0%{
      -webkit-transform: rotate(0deg);
    }
    100%{
      -webkit-transform: rotate(360deg);
    }
  }



/*hero*/

.hero{
    background-color: var(--ecomagenta);
  
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 2em 5%;
    padding-bottom: 4em;
    color:#fff;
}
.parrafo{
    font-weight: 400;
    font-size: 12.5pt;
    line-height: 26px;
    margin: 1em 0;
}

.meses{
    font-weight: 400;
    font-size: 12.5pt;
    margin-bottom:2em;
    text-align: center;
}
.hero h1{
    font-weight: 600;
    font-size: 35pt;
}
.subtitulos{
    font-weight: 600;
    font-size: 21pt;
    margin-bottom:.5em;
}
.subtitulopili{
    font-weight: 400;
    font-size: 11pt;
    margin-bottom:2em;
    text-align: center;

}
.contenthero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1em;
    margin:1em 5%;
    align-items: center;
    justify-items: center;
}
.iconos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro .subtitulos{
    text-align: center;
}


/*empresas*/
.verde{
    color: var(--verde);
}
.primeraseccion{
display: grid;
grid-template-areas: "texto texto imagen";
margin:3em 5%;
gap:3em;
}
.subtitulopilidos{
    font-weight: 400;
    font-size: 11pt;
    margin-bottom:2em;
    color: var(--verde);
   

}
.imagenequipo{
    grid-area: imagen;
   width: 20em;
   height:22em;
   position:relative;
   object-fit: cover;
   transform: translateY(-30%);
   border-radius: 1em;
   box-shadow: 1px 1px 40px 5px rgba(34, 36, 44, 0.116);
}

.empresas{
    grid-area: texto;
}



/*slider logos*/

.sliderlogos{
    width:100%;
    margin:0;
    height:100%;
    overflow: hidden;
    position: relative;
    margin-top:1em;
    transform: translateY(-50%);
}


/*contenedor de las imagenes*/
.slider-tracklogos{
    display:flex;
    align-items: center;
    width: calc(14em*28); /*el tamano de las imagenes + el margen * el doble de los logos*/
    animation: scrolllogos 27s infinite linear;
}


.slidelogos img{
    width:12em;
    margin:1em;
    filter: grayscale(100%) contrast(80%) brightness(120%);
}

@keyframes scrolllogos{
    100%{
        transform: translateX(calc(-14em*14));

    }
    0%{
      transform: translateX(0%)
    }
}

@keyframes scrollabajo{
    100%{
        transform: translateX(calc(-14em*14))
    }
    0%{
        transform: translateX(0);
    }
}

/*adaptar hero y seccionuno*/
@media (max-width: 880px) {
    .contenthero{
       display: flex;
       flex-direction: column;
        gap:1em;
        margin:0 5%;
    }
}
@media (max-width: 770px) {
    .primeraseccion{
        grid-template-areas: "imagen""texto";
        gap:0;
        }
    .imagenequipo{
        margin:auto;
    }
    .empresas{
        transform: translateY(-20%);
    }
}
@media (max-width: 400px) {
    .imagenequipo{
       
       width: 90%;
    
    }
}
@media (max-width: 490px) {
    .imagenequipo{
        transform: translateY(-40%);
       width: 90%;
    
    }
}
@media (max-width: 350px) {
    .imagenequipo{
        height:18em;
        transform: translateY(-60%);
    
    }
}




/*comunidad consciente*/
.subtitulopilitres{
    font-weight: 400;
    font-size: 11pt;
    margin-bottom:2em;

}
.puntoslink{
    color: #fffa;
    font-weight: 500;
}
.puntoslink:hover{
    color: #ffff; 
}
.invert{
    transform: rotate(180deg);
    width: 1140;
    margin:0;
    
}
.comunidad{
    background-color: var(--verde);
    padding: 3em 10%;
    color: #fff;
    margin:0;
}
.lista{
    font-size: 12.5pt;
    font-weight: 400;
    line-height: 27px;
    margin: 0em 2em;
    text-align: justify;
}
.lista li{
    margin: 1em 0;
}
@media screen and (max-width: 600px){
    .lista{
        text-align: initial;
        margin:0;
    }
  }

/*otras acciones*/
.rosa{
    color: var(--ecomagenta);
}
.otras{
    margin: 3em 10%;
}
.otrascon{
    display:flex;
    align-items: center;
}
.otrascon .subtitulos{
    margin:1em;
}
@media screen and (max-width: 450px){
    .otrascon{
        flex-direction: column;
        align-items: start;
    }
    .otrascon .subtitulos{
        margin: 0;
        margin-top: 2em;
    }

}



/*institucional*/
.institucional h2{
    text-align: center;
}
.institucional{
    margin:2em 10%;
}
.institucionalcon{
    display:flex;
    flex-wrap: wrap;

    justify-content: center;
}
.cuadros{
    min-width:23em;
    max-width:28em;
    margin: 1em;
    padding:2em;
    box-shadow: 1px 1px 20px  rgba(34, 36, 44, 0.05);
    border-radius: 1em;


}
.cuadros img{
    width:100%;
    height:10em;
    object-fit: cover;
    border-radius: 0.5em;
}




/*fotos cosquin*/
.fotosecosquin{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 2.5%;
    margin-bottom: 2em;
}
.fotosecosquin img{
    width: 95%;
    margin:0 2.5%;
    height:20em;
    object-fit: cover;
    border-radius: 0.5em;
}
@media screen and (max-width:740px){
    .fotosecosquin{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 0 5%;
        margin-bottom: 2em;
    }
    .fotosecosquin img{
        width: 95%;
        margin:1em 2.5%;
        height:20em;

    }

}
/*REDES*/


footer{
    background: var(--ecomagenta);
    color: #fff;

}

#tituloredes{
    padding-top:1em;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16pt;

}
  
  .gridderedes{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:1em;
    margin-bottom: 2em;
   /* opacity:0;
    transform: translateY(10%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;*/
  }

  
  
  .redeslink img{
    width:4em;
    transition: transform 0.3s ease-in-out ;
    margin:0 2em;
    border-radius: 50%;
  }
  .redeslink img:hover{
    transform: translateY(-15%);
  }
  
  
  .derechos{
    margin: 0 5%;
      font-weight: 300;
      border-top: 3px solid #fff;
      font-size: 10pt;
      text-align: center;
      padding: 1em;
      padding-bottom: 2em;
  }

  
  /* ADAPTAR REDES */
  @media screen and (max-width:650px){
    .gridderedes{
        flex-wrap: wrap;
      }
      .redeslink img{
        margin-bottom: 0.5em;
        width: 3.5em;
      }

}



.divisorverde{
    overflow: hidden;

    transform: translateY(10%);
}
.divisorrosa{
    overflow: hidden;

}
